on:
  pull_request:
    types:
      - labeled
    branches:
      - master
      - main
      - staging
  pull_request_target:
    types:
      - labeled
    branches:
      - dev
      - hotfix

name: Finilize PR
################################################################################
#  this steps assumes that a careful and security-aware review is done         #
#  If you want to be save and dont trust the security review,                  #
#  we advise to disable this step for forks by adding :                        #
#                                                                              #
#   && !(github.event.pull_request.head.repo.full_name != github.repository &&  #
#       github.actor != 'dependabot[bot]')                                     #
#                                                                              #
#  to the if condition of the lockdown job                                     #
################################################################################
jobs:
  lockdown:
    name: Lock PR
    runs-on: ubuntu-latest
    if: github.event.label.name == 'ready for merge'
    steps:
      - uses: actions/checkout@v2
      - name: lock pull request
        uses: sudo-bot/action-pull-request-lock@v1.0.5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          number: ${{ github.event.pull_request.number }}
          lock-reason: resolved
  openapi:
    runs-on: ubuntu-latest
    name: Autogen OpenAPI
    needs: lockdown
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Check api changes
        uses: tony84727/changed-file-filter@v0.2.0
        id: filter
        with:
          filters: |
            api:
              - 'api/**'
              - 'openapi.json'
      - name: Build PR OAS
        if: steps.filter.outputs.api == 'true'
        run: |
          chmod +x gradlew
          ./gradlew generateOpenApiDocs
      - name: Checkout base branch
        if: steps.filter.outputs.api == 'true'
        uses: actions/checkout@v2
        with:
          ref: ${{ github.base_ref }}
          path: 'base'
      - name: Build OAS diff
        if: steps.filter.outputs.api == 'true'
        uses: LimeFlight/openapi-diff-action@v3.0.9
        with:
          head_spec: openapi.json
          base_spec: base/openapi.json
          output_path: ~/openapi_diff.json
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Commit OAS
        if: steps.filter.outputs.api == 'true'
        uses: swinton/commit@v2.0.0
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            openapi.json
          commit-message: 'docs(oas): add PR changes to OAS'
          ref: ${{ github.head_ref }}
  client:
    name: Autogen clients
    needs: lockdown
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Check api changes
        uses: tony84727/changed-file-filter@v0.2.0
        id: filter
        with:
          filters: |
            api:
              - 'api/**'
              - 'openapi.json'
      - name: Build clients
        if: steps.filter.outputs.api == 'true'
        run: |
          chmod +x gradlew
          ./gradlew autogenClients
      - name: Commit clients
        if: steps.filter.outputs.api == 'true'
        uses: swinton/commit@v2.0.0
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            client/**
          commit-message: 'chore: autogenerate clients'
          ref: ${{ github.head_ref }}
  semver:
    name: Create release
    runs-on: ubuntu-latest
    needs: lockdown
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Scan release stage
        id: branch
        run: |
          if [ ${{ github.base_ref }} == 'main']; then
            echo "::set-output name=release_stage::release"
          elif [ ${{ github.base_ref }} == 'staging' ]; then
            echo "::set-output name=release_stage::rc"
          elif [ ${{ github.base_ref }} == 'dev'] || [ ${{ github.base_ref }} == 'hotfix' ]; then
            echo "::set-output name=release_stage::beta"
          fi
      - id: cz_pr
        name: Bump prerelase-version
        if: steps.branch.outputs.release_stage != 'release'
        uses: commitizen-tools/commitizen-action@0.9.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.head_ref }}
          changelog_increment_filename: changelog_diff.md
          prerelease: ${{ steps.branch.outputs.release_stage }}
      - id: cz
        name: Bump release-version
        if: steps.branch.outputs.release_stage == 'release'
        uses: commitizen-tools/commitizen-action@0.9.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.head_ref }}
          changelog_increment_filename: changelog_diff.md
      - name: Build Artifact
        run: ./gradlew bootJar
      - uses: ncipollo/release-action@v1.8.10
        id: release
        with:
          artifacts: "app/build/lib/app-$REVISION.jar"
          bodyFile: "changelog_diff.md"
          draft: true
          prerelease: ${{ steps.branch.outputs.release_stage != 'release' }}
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ env.REVISION }}
      - name: Add release message
        uses: thollander/actions-comment-pull-request@v1
        with:
          message: |
            ### Release
            This PR will be included in `${{ env.REVISION }}`. [**GH Release**](${{steps.release.outputs.html_url}})

  merge:
    name: Merge PR
    runs-on: ubuntu-latest
    needs:
      - openapi
      - client
      - semver
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Eval merge type
        id: eval
        run: |
          if [ ${{ github.base_ref }} == 'main' ]; then
            echo "::set-output name=merge_type::merge"
          elif [ ${{ github.base_ref }} == 'staging' ]; then
            echo "::set-output name=merge_type::merge"
          elif [ ${{ github.base_ref }} == 'dev'] || [ ${{ github.base_ref }} == 'hotfix' ]; then
            echo "::set-output name=merge_type::squash"
          fi
      - name: Merge
        uses: squalrus/merge-bot@v0.4.5
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          test: false
          reviewers: true
          labels: ''
          blocking_labels: 'blocked, revoked'
          checks_enabled: true
          method: ${{ steps.eval.outputs.merge_type }}
          delete_source_branch: ${{ github.base_ref == 'dev' || github.base_ref == 'hotfix' }}